@import "tailwindcss";

@theme {
  --color-bribella-blue: #0c1c39;
  --color-bribella-grey: #9fb0bb;
  --color-bribella-black: #36312b;
  --color-bribella-orange: #f69103;
  --color-bribella-white: #fcfcfc;
}

body {
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
