@import "tailwindcss";

@theme {
  --color-bribella-blue: #0c1c39;
  --color-bribella-grey: #9fb0bb;
  --color-bribella-black: #36312b;
  --color-bribella-orange: #f69103;
  --color-bribella-white: #fcfcfc;

  --animate-slide-fade-in-left: slide-fade-in-left 0.3s ease;
  --animate-slide-fade-in-right: slide-fade-in-right 0.3s ease;

  @keyframes slide-fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(-20vh);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-fade-in-right {
    0% {
      opacity: 0;
      transform: translateX(20vh);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

body {
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.parallax-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left 75%;
}

@media (min-width: 640px) {
  .parallax-bg {
    background-position: center left 60%;
  }
}

@media (min-width: 768px) {
  .parallax-bg {
    background-position: center left 30%;
  }
}

@media (min-width: 1024px) {
  .parallax-bg {
    background-position: center;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h2 {
  font-size: 1.25rem;
  padding: 1rem 0;
  text-align: center;
}

h3 {
  font-size: 1.15rem;
  padding: 0.85rem 0;
  text-align: center;
}

.orange-link {
  color: var(--color-bribella-orange);
}
